$background: #dddddd;

$main-color: #3a6351;
$secondary-color: #e48257;

$text-color: #f2edd7;

$black-color: #0b0b0d;
$white-color: #f5f5f5;

$error-color: #d92027;
$info-color: #3498db;
$success-color: #54e346;
$warning-color: #ffc93c;
