.p0 {
  padding: 0;
}

.p1 {
  padding: 0.25em; // padding: 4px
}

.p2 {
  padding: 0.5em; // padding: 8px
}

.p3 {
  padding: 1em; // padding: 16px
}

.p4 {
  padding: 1.5rem; // padding: 24px
}

.p5 {
  padding: 2rem; // padding: 32px
}

.pt1 {
  padding-top: 0.25em; // padding-top: 4px
}

.pt2 {
  padding-top: 0.5em; // padding-top: 8px
}

.pt3 {
  padding-top: 1em; // padding-top: 16px
}

.pt4 {
  padding-top: 1.5rem; // padding-top: 24px
}

.pt5 {
  padding-top: 2rem; // padding-top: 32px
}

.pb1 {
  padding-bottom: 0.25em; // padding-bottom: 4px
}

.pb2 {
  padding-bottom: 0.5em; // padding-bottom: 8px
}

.pb3 {
  padding-bottom: 1em; // padding-bottom: 16px
}

.pb4 {
  padding-bottom: 1.5rem; // padding-bottom: 24px
}

.pb5 {
  padding-bottom: 2rem; // padding-bottom: 32px
}

.pl1 {
  padding-left: 0.25em; // padding-left: 4px
}

.pl2 {
  padding-left: 0.5em; // padding-left: 8px
}

.pl3 {
  padding-left: 1em; // padding-left: 16px
}

.pl4 {
  padding-left: 1.5rem; // padding-left: 24px
}

.pl5 {
  padding-left: 2rem; // padding-left: 32px
}

.pr1 {
  padding-right: 0.25em; // padding-right: 4px
}

.pr2 {
  padding-right: 0.5em; // padding-right: 8px
}

.pr3 {
  padding-right: 1em; // padding-right: 16px
}

.pr4 {
  padding-right: 1.5rem; // padding-right: 24px
}

.pr5 {
  padding-right: 2rem; // padding-right: 32px
}

.ptb1 {
  padding: 0.25em 0; // padding: 4px 0
}

.ptb2 {
  padding: 0.5em 0; // padding: 8px 0
}

.ptb3 {
  padding: 1em 0; // padding: 16px 0
}

.ptb4 {
  padding: 1.5rem 0; // padding: 24px 0
}

.ptb5 {
  padding: 2rem 0; // padding: 32px 0
}

.plr1 {
  padding: 0 0.25em; // padding: 0 4px
}

.plr2 {
  padding: 0 0.5em; // padding: 0 8px
}

.plr3 {
  padding: 0 1em; // padding: 0 16px
}

.plr4 {
  padding: 0 1.5rem; // padding: 0 24px
}

.plr5 {
  padding: 0 2rem; // padding: 0 32px
}
